{% extends '@!EasyAdmin/layout.html.twig' %}


{% block main %}
    <table class="datagrid">
        <thead>
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Units / Gaps</td>
            <td>Details</td>
        </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td><span class="badge badge-info">{{ service.status }}</span> {{ service.id }}</td>
                <td>{{ service.name }}</td>
                <td> {{ service.units|length }} / {{ service.gaps|length }}</td>
                <td><a href="{{ path('manager_service_detail',{'serviceId':service.id}) }}">Details</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

